@font-face {
    font-family: 'light';
    src: url(../fontes/BankGothicLtBTLight.ttf);
}
@font-face {
    font-family: 'regular';
    src: url(../fontes/bankgothic-regular.ttf);
}
@font-face {
    font-family: 'bank';
    src: url(../fontes/bankrus.ttf);
}
@font-face {
    font-family: 'comic';
    src: url(../fontes/Comic\ Book.otf);
}
@font-face {
    font-family: 'xmen';
    src: url(../fontes/x-men.ttf);
}
@font-face {
    font-family: 'sui';
    src: url(../fontes/sui\ generis\ rg.ttf);
}

